Membros,Link do perfil,Nível atual,Tempo total no nível (meses),Tempo total como assinante (meses),Última atualização,Carimbo de data/hora da última atualização
João Silva,https://www.youtube.com/channel/UC-CQ5189EZ4hRDxwHtD7Sog,CDF,0.5,0.5,Virou assinante,2023-04-15T10:30:00.000-07:00
Maria Santos,https://www.youtube.com/channel/UCc0mlXRctkGH3J9xaim7zQA,CDF Avançado,2.3,2.3,Virou assinante,2023-03-01T14:45:30.000-07:00
Fernanda Pereira,https://www.youtube.com/channel/UCi4Awaj_JA4yQOajyQGu4vQ,CDF Expert,12.8,12.8,Virou assinante,2022-04-20T18:26:10.816-07:00
Lucas Souza,https://www.youtube.com/channel/UC-JS1234C8Z98RGJ3T9T7YQ,CDF,0.8,0.8,Virou assinante,2023-04-08T08:15:25.000-07:00
